<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Resultados da busca</title>
	<link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>

	<div th:insert="~{menuAlunos :: menu}"></div>

	<div class="card" style="margin-top:48px">

		<h1 class="card-header text-center font-weight-bold text-uppercase py-4">Resultados</h1>

		<div class="card-body">

			<table class="table table-bordered table-responsive-md table-striped text-center">
				<thead>
					<tr>
						<th class="text-center">#</th>
						<th class="text-center">NOME</th>
						<th class="text-center">IDADE</th>
						<th class="text-center">SEXO</th>
						<th class="text-center">CURSO</th>
						<th class="text-center">CAMPUS</th>
						<th class="text-center">EDITAR</th>
						<th class="text-center">DELETAR</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr th:if="${alunos == null or alunos.size() == 0}">
						<td colspan="8">
							<h1>Nenhum aluno encontrado</h1>
						</td>
					</tr>-->

					<div class="alert alert-success alert-dismissible fade show" role="alert"
						th:if="${alunos != null and alunos.size() != 0}">
						<strong>Sucesso!</strong> Aluno encontrado.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="alert alert-danger alert-dismissible fade show" role="alert"
						th:if="${alunos == null or alunos.size() == 0}">
						<strong>Erro!</strong> Nenhum resultado foi encontrado com essa descrição.
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<tr th:each="aluno : ${alunos}">
						<td class="pt-3-half" contenteditable="true" th:text="${aluno.id}"></td>
						<td class="pt-3-half" contenteditable="true" th:text="${aluno.nome}"></td>
						<td class="pt-3-half" contenteditable="true" th:text="${aluno.idade}"></td>
						<td class="pt-3-half" contenteditable="true" th:text="${aluno.sexo}"></td>
						<td class="pt-3-half" contenteditable="true" th:text="${aluno.curso}"></td>
						<td class="pt-3-half" contenteditable="true" th:text="${aluno.campus}"></td>
						<td> <a class="btn btn-primary btn-rounded"
								th:href="@{/aluno/editar/{id}(id=${aluno.id})}">Editar
							</a>
						</td>
						<td> <a class="btn btn-danger btn-rounded" th:href="@{/aluno/deletar/{id}(id=${aluno.id})}">
								Excluir Direto
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		</form>
	</div>
	</div>
</body>

<script>
	// Função para fechar o alerta
	function fecharAlerta() {
		var alerta = document.querySelector('.alert');
		alerta.style.display = 'none';
	}

	// Adiciona um evento de clique ao botão de fechar
	var botaoFechar = document.querySelector('.close');
	botaoFechar.addEventListener('click', fecharAlerta);
</script>

</html>